*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial, sans-serif
}

body{
  background: linear-gradient(
		90deg,
		rgba(48,16,2551,1)0%,
		rgba(100,115,225,1)100%
	);
	height: 100%;
}
